/*
==========================
RESET
==========================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}

body {
    background-color: midnightblue;
}
/*
==========================
HEADER
==========================
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 10px 30px 10px;
    color: white;
}

.logo img {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;

    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title{
    margin-left: 10px;
}

nav {
    align-self: flex-end;
}

nav li {
    display: inline;
    padding-right: 10px;
}

li a {
    color: white;
}

li a:hover {
    color: lightslategray;
}

/*
==========================
TYPOGRAPHY
==========================
*/

h1 {
    font-size: 20px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 36px;
}

p {
    margin: 10px;
}

.skills {
    border: 1px solid white;
    background-color: midnightblue;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}


/*
==========================
PERSONAL SUMMARY
==========================
*/

.about {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 10px;
    color: white;
}

.profile {
    border: 1px solid black;
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
}

.summary {
    margin: 10px;
}

/*
==========================
PROJECTS
==========================
*/

.all-projects {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: midnightblue;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    background-color: lightslategray;
    width: 30%;
}

.all-projects a {
    color: midnightblue;
}

.project h3 {
    text-align: center;
    font-size: 30px;
}
.project img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
    margin: 10px;
}
.tags {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
/*
==========================
FOOTER
==========================
*/

footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.social-media img {
    max-height: 30px;
    max-width: 30px;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid black;
    margin: 10px;
}