/*
==========================
RESET
==========================
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
}

body {
    background-color: midnightblue;
}
/*
==========================
HEADER
==========================
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 10px 30px 10px;
    color: white;
}

.logo img {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title {
    margin-left: 10px;
}

nav {
    align-self: flex-end;
}

nav li {
    display: inline;
    padding: 2px;
}

li a {
    color: white;
}

li a:hover {
    color: lightslategray;
}

/*
==========================
TYPOGRAPHY
==========================
*/

h1 {
    font-size: 20px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 36px;
}

p {
    margin: 10px;
}

.skills {
    border: 1px solid white;
    background-color: midnightblue;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}


/*
==========================
PERSONAL SUMMARY
==========================
*/

.about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    color: white;
}

.profile {
    border: 1px solid black;
    min-width: 250px;
    min-height: 350px;
    margin: 10px;
}

.profilePhoto {
    width: 20vw;
    display: flex;
    justify-content: flex-end;
}
.summary {
    margin: 10px;
    width: 40vw;
}

/*
==========================
PROJECTS
==========================
*/

.all-projects {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: midnightblue;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    background-color: lightslategray;
    width: 30%;
}

.projectIcon {
    min-width: 90%;
    margin: 10px;
}

.projectTitle {
    height: 15%;
    display: flex;
    align-items: center;
}

.all-projects a {
    color: midnightblue;
}

.project h3 {
    text-align: center;
    font-size: 30px;
}
.project img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.tags {
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

/*
==========================
CONTACT
==========================
*/
#contact {
    display: flex;
    justify-content: space-around;
}

#contact div {
    background-color: slategray;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#contact h3 {
    font-size: 28px;
    color: midnightblue;
}

#contact a {
    color: white;
    font-size: 20px;
}



/*
==========================
FOOTER
==========================
*/

footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

footer i {
    color: white;
    display: inline-block;
    margin-right: 5px;
}


/*
==========================
RESPONSIVE DESIGN LAYOUT
==========================
*/

@media (max-width: 740px) {
    body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        align-self: center;
        margin-top: 10px;
    }

    header nav ul {
        width: 100vw;
        display: flex;
        justify-content: space-around;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .summary {
        width: 80vw;
    }

    .profilePhoto {
        justify-content: center;
    }

    .project {
        width: 40%;
    }

    .tags {
        flex-direction: column;
    }

}

@media (max-width: 330px) {
    #contact {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer a {
        font-size: 12px;
    }

    .social-media {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    footer nav {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    .project h3 {
        font-size: 24px;
    }

    .project p {
        font-size: 12px;
    }

    .project {
        width: 50%;
    }
}